__pycache__/
*.pyc
.idea
.DS_Store
**/demo/
**/eval/
.vscode/
.idea/
**/*.pkl
**/out/*
!my_research/out/HanCo_Eval
my_research/out/HanCo_Eval/*
!my_research/out/HanCo_Eval/contour_joint.jpg
!my_research/out/HanCo_Eval/joint_confidence.npy
